html, body {
    height: 100%;
    overflow-x: hidden;
}


.main-div-class {
    min-height: 100%;
}

.footer {
    margin-top: 150px;
    height: 90px;
    position: relative;
}

.footer .footer-content {
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer .footer-bottom {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-content i {
    padding: 8px;
    padding-bottom: 0;
}

.fab {
    font-size: 130%;
}

.icon-class {
    color: inherit;
}

.icon-class:hover {
    color: inherit;
    transform: scale(1.5);
    transition: transform .5s ease;
}